@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
	font-family: "Nunito", sans-serif;
}

.bg-overlay-pattern {
	background-image: url(../bg-pattern.png);
	background-color: transparent;
	background-position: center;
	background-size: cover;
	opacity: 0.2;
	z-index: 1;
}
